html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    font-size: 1.8rem;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}
.imagen{
    background-image: url('../img/pexels-oriana-ortiz-818789.jpg');
    width: auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-size: 20px;
}

.img {
    display: flex;
    width: 346px;
    height: 277px;
}

p {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 25px;
    width: 346px
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #CFB191;
}
/**/

.news-link-button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.news-link-button:before {
    content: "\f138";
    position: absolute;
    right: 0.8em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.news-link-button:hover:before, .hover-icon-forward:focus:before, .hover-icon-forward:active:before {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

/**/
.card {
    height: 50rem;
    margin: 2rem;
    padding: 2rem;
}

.SeparadorIV{
    height: 0.2rem;
    width: 10%;
    background-color: #C7A17A;
    border-radius: 0.5rem;
    margin: 2rem auto 1rem auto;  
}

.SeparadorV {
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.container-tittle {
    text-align: center;
    background-color: #EAE7DE;
    padding: 20px;
    color: #30271C;
}

.container-tittle {
    font-size: 25px;
}
<<<<<<< HEAD
.factura{
    border: #000 0.1rem solid;
    height: 50vh;
    margin-top: 5rem;
}
.btns{
    text-align: end;
}
.btn{
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}
.btn-color{
    background-color: #000;
}

.btn-color:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: #FE5F1E;
    transition: all .3s;
=======

.container-img {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
    background: #EAE7DE;
    color: #30271C;
>>>>>>> 38e1a684dbc83412d9345bd786f9ab725f753090
}