html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.colornav{
    background-color: rgba(0, 0, 0, 0);
}
.colornavC{
    background-color: rgba(0, 0, 0, 0.6);
}
nav a{
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}
nav a:hover{
color: #FE5F1E ;
transition: all 0.5s;
}
.imagen{
    background-image: url('../img/pexels-oriana-ortiz-818789.jpg');
    width: auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: soft-light;
}
.productos{
    display: flex;
    margin: 2rem;

}
.card{
    width: 20rem;
    height: 30rem;
    border: 0.1rem solid #000;
    margin: 3rem;
}
.card img{
    width: 20rem;
    height: 15rem;
    
}
h1{
    text-align: center;
    font-size: 8rem;
    color: #fff;
    margin-top: 30vh;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h3{
    margin: 0rem;
}
.compra{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
input{
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 5rem;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.5rem;
    
}
.agregar{
    margin: 0;
}
.agregar img{
    width: 5rem;
    height: 3.5rem;
    margin: 0;
}