html{
    font-size: 65.2%;
}
.contenedor{
    max-width: 120rem;
}
.barra{
    display: flex;
    justify-content: space-between;
}
nav a{
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
}